#mControlsUnhideBtn {
  right: 96% !important;
  top: 13% !important;
  width: 30px !important;
  bottom: 0px !important;
  z-index: 101 !important;
  height: 30px !important;
  border-radius: 50% !important;
}

#mControlsUnhideBtn > button {
  background-image: none !important;
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) {
  .tablecontent {
    transform: scale(1.33143, 0.95) !important;
    top: -8px !important;
    width: 710px !important;
  }

  .card {
    transform: scale(0.7512, 1.0556) !important;
  }

  div:nth-child(3) > div:nth-child(80) {
    color: #fcdf15 !important;
    font-weight: bold !important;
  }

  .bannermiddle {
    top: 31% !important;
    left: 14% !important;
    font-size: 11px !important;
    opacity: 0.5 !important;
  }

  .nextPanel {
    top: 74.5% !important;
  }

  .nextPanel > .nextmove4,
  .nextPanel > .nextmove3 {
    top: 28px !important;
  }

  .nextPanel > .nextmove3 {
    left: 30% !important;
  }
  .nextPanel > .nextmove4 {
    left: 60% !important;
  }
  .nextPanel > .nextmove2 {
    top: 32.5% !important;
    left: 7% !important;
  }
  .nextPanel > .nextmove1 {
    top: 32.5% !important;
    left: -30% !important;
  }

  .totalplate {
    background: none !important;
  }

  .commandbtn1,
  .commandbtn2,
  .commandbtn3 {
    top: 77% !important;
  }

  .commandbtn1 {
    border-radius: 5px !important;
    border: none !important;
    left: 38% !important;
  }

  .commandbtn1 > button {
    background: radial-gradient(
        156.55% 134.68% at 50% 100%,
        #eebc31 0%,
        rgba(207, 51, 51, 0) 100%
      ),
      linear-gradient(180deg, #3e3f43 0%, #28282c 71.87%) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5),
      inset 0 0.0625em 0.25em rgba(255, 255, 255, 0.15) !important;
    line-height: 42px !important;
  }

  .commandbtn2 {
    border-radius: 5px !important;
    border: none !important;
    left: 56% !important;
  }

  .commandbtn2 > button {
    background: radial-gradient(
        156.55% 134.68% at 50% 100%,
        #ee3131 0%,
        rgba(207, 51, 51, 0) 100%
      ),
      linear-gradient(180deg, #3e3f43 0%, #28282c 71.87%) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5),
      inset 0 0.0625em 0.25em rgba(255, 255, 255, 0.15) !important;
    line-height: 42px !important;
  }

  .commandbtn3 {
    border-radius: 5px !important;
    border: none !important;
  }

  .commandbtn3 > button {
    background: radial-gradient(
        156.55% 134.68% at 50% 100%,
        #50ee31 0%,
        rgba(207, 51, 51, 0) 100%
      ),
      linear-gradient(180deg, #3e3f43 0%, #28282c 71.87%) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5),
      inset 0 0.0625em 0.25em rgba(255, 255, 255, 0.15) !important;
    line-height: 42px !important;
  }
  .timebankbtn {
    border-radius: 5px !important;
    border: none !important;
    left: 20% !important;
    top: 77% !important;
  }

  .timebankbtn > button {
    background: radial-gradient(
        156.55% 134.68% at 50% 100%,
        #50ee31 0%,
        rgba(207, 51, 51, 0) 100%
      ),
      linear-gradient(180deg, #3e3f43 0%, #28282c 71.87%) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5),
      inset 0 0.0625em 0.25em rgba(255, 255, 255, 0.15) !important;
    line-height: 42px !important;
  }
  .betbtn1 {
    display: none !important;
  }
  .betbtn2 {
    display: none !important;
  }
  .betbtn3 {
    display: none !important;
  }
  .betbtn4 {
    left: 86% !important;
    top: 67% !important;
  }

  .betbtn4 > button {
    background: radial-gradient(
        156.55% 134.68% at 50% 100%,
        #50ee31 0%,
        rgba(207, 51, 51, 0) 100%
      ),
      linear-gradient(180deg, #3e3f43 0%, #28282c 71.87%) !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5),
      inset 0 0.0625em 0.25em rgba(255, 255, 255, 0.15) !important;
    line-height: 42px !important;
  }
  .bannerleft {
    top: 56% !important;
    left: 44.5% !important;
    font-size: 10px !important;
  }

  .bannerright2 {
    top: 62% !important;
    right: 49.5% !important;
    font-size: 10px !important;
  }
  .bannerright {
    top: 59% !important;
    right: 47.5% !important;
    font-size: 10px !important;
  }
  .straddle {
    top: 35px !important;
    left: 53px !important;
  }
  .foldanybet {
    top: 70% !important;
    left: 6px !important;
  }
  .outnexthand {
    top: 75% !important;
    left: 5px !important;
  }
  .outnextblind {
    top: 80% !important;
    left: 5px !important;
  }
  .runtwice {
    top: 10px !important;
    left: 51px !important;
  }

  /* ---------------------------------raisebox-------------------------------- */
  .raisebox {
    left: 591px !important;
    top: 312px !important;
    width: 29% !important;
    height: 27px !important;
    transform: rotate(-90deg) !important;
    background: #45484d !important;
    box-shadow: -1px 3px 13px rgba(0, 0, 0, 0.13) !important;
    border-radius: 5px !important;
    border: none !important;
  }
  .raiseinput {
    display: none !important;
  }
  .slider_thumb {
    background: url("https://i.ibb.co/Y4cq1cB7/fishka-gold-2.png") 0px 0px /
      100% 100% no-repeat !important;
    height: 30px !important;
    border-radius: 50px !important;
    top: -3px !important;
    width: 30px !important;
  }
  .raiseslider {
    left: 8px !important;
    top: 1px !important;
    width: 186px !important;
    height: 31px !important;
  }
  .slider_bar {
    background: linear-gradient(
      to right,
      #1e5799 0%,
      #2ef258 17%,
      #f77631 43%,
      #4526f2 70%,
      #e47de8 99%
    ) !important;
    margin-top: -8px !important;
    border: none !important;
    height: 10px !important;
  }
  .tablemessage {
    left: 14% !important;
    top: 49% !important;
    opacity: 0.5 !important;
    font-size: 14px !important;
  }
  .dealer,
  .chipstack {
    transform: scale(0.7512, 1.0556) !important;
  }
}

@media (orientation: landscape) {
  .sp_graphic[style*="Name=SeatEmpty"] {
    height: 50px !important;
    width: 50px !important;
  }

  .sp_graphic {
    /* background-repeat: no-repeat !important; */
    background-size: cover !important;
    opacity: 1 !important;
    height: 57px !important;
    width: 131px !important;
    background-image: url("https://i.ibb.co/LyZpkyd/seat-7.png") !important;
    margin: -10px 0 0 0px;
  }
}

/* .commandbtn2 > button {
  background: linear-gradient(
    to bottom,
    #e80404 0%,
    #ea0404 44%,
    #aa0000 100%
  ) !important;
  border: 1px outset red !important;
  font-size: 30px !important;
  border-radius: 7px !important;
  padding: 4px !important;
}

.commandbtn3 {
  height: 80px !important;
  width: 27% !important;
  left: 70% !important;
}

.commandbtn3 > button {
  background: linear-gradient(
    to bottom,
    #299a0b 0%,
    #267c09 47%,
    #3e7a09 100%
  ) !important;
  border: 1px outset #299a0b !important;
  font-size: 30px !important;
  border-radius: 7px !important;
  padding: 4px !important;
} */

/* .nextPanel {
  top: 95% !important;
}

.foldanybet {
  top: 82% !important;
  left: 28px !important;
}

.outnexthand {
  top: 85% !important;
  left: 29px !important;
}

.outnextblind {
  top: 88% !important;
  left: 28px !important;
}

.nextmove2 {
  left: 390px !important;
}

.outnexthand .checkbox,
.outnextblind .checkbox,
.foldanybet .checkbox,
.straddle .checkbox,
.runtwice .checkbox,
.nextmove1 .checkbox,
.nextmove2 .checkbox,
.nextmove3 .checkbox,
.nextmove4 .checkbox {
  width: 32px !important;
  height: 32px !important;
  background: url("https://i.ibb.co/yBpV6ZYn/checkBox.png") 0% 0% / 32px 32px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.outnexthand .checkbox_check,
.outnextblind .checkbox_check,
.foldanybet .checkbox_check,
.straddle .checkbox_check,
.runtwice .checkbox_check,
.nextmove1 .checkbox_check,
.nextmove2 .checkbox_check,
.nextmove3 .checkbox_check,
.nextmove4 .checkbox_check {
  background: url("https://i.ibb.co/whRz2xcX/check-Box-Chek.png") !important;
}

.outnexthand .checkbox_label,
.outnextblind .checkbox_label,
.foldanybet .checkbox_label,
.straddle .checkbox_label,
.runtwice .checkbox_label,
.nextmove1 .checkbox_label,
.nextmove2 .checkbox_label,
.nextmove3 .checkbox_label,
.nextmove4 .checkbox_label {
  line-height: 31px !important;
  font-size: 2em !important;
}

.sp_avatar {
  top: -99px !important;
  left: 23px !important;
  width: 120px !important;
  height: 120px !important;

  border-radius: 50% !important;

  background-size: auto 115px !important;
  border: 1px solid #fff !important;
}

.sp_graphic {
  opacity: 1 !important;
  height: 57px !important;
  width: 131px !important;
  background-image: none !important;

  margin: -10px 0 0 0px;
}

.straddle {
  top: 81% !important;
  left: 67% !important;
}

.runtwice {
  top: 84% !important;
  left: 67% !important;
}

.bannerleft {
  top: 62% !important;
  left: 37% !important;
  font-size: 27px !important;
}

.bannerright2 {
  top: 62% !important;
  right: 34% !important;
  font-size: 27px !important;
}

.bannerright {
  top: 65% !important;
  right: 40% !important;
  font-size: 27px !important;
}

.totalplate {
  line-height: 30px !important;
  left: 46% !important;
  top: 29% !important;
  width: 87px !important;
  height: 62px !important;

  font-size: 30px !important;
  padding: 5px !important;
  background: none !important;
  border-radius: 7px !important;
  color: #fff !important;
}

.tablemessage {
  left: 25% !important;
  top: 91% !important;
  font-size: 27px !important;
}

#OpenTableControls {
  z-index: 100 !important;
  top: 0px;
} */

.scrollbar {
  background: #474747 !important;
  border-color: #373737 !important;
}

.scrollbar_thumb {
  background: #888888 !important;
  border: 0 !important;
  border-radius: 19px;
}

.scrollbar_down,
.scrollbar_up {
  border: 0 !important;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-corner {
  background-color: #474747;
}

body::-webkit-scrollbar-thumb {
  border-radius: 19px;
  background-color: #888;
  border: 4px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-track {
  background-color: #474747;
  border: 1px solid #373737;
}

#FontSize {
  white-space: nowrap;
}

.titlewindowsbtn,
.defaultwindowsizebtn {
  top: 7px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  color: #595959;
  font-weight: bold;
}

.titlewindowsbtn {
  right: 30px;
}

.defaultwindowsizebtn {
  right: 50px;
}

.defaultwindowsizebtn:before,
.titlewindowsbtn:before {
  width: 100%;
  display: block;
}

.defaultwindowsizebtn:before {
  content: "\2699";
}

.titlewindowsbtn:before {
  content: "\2610";
}

#AccountInfo .dialogcontent .bevel:nth-child(6),
#AccountInfo .dialogcontent .bevel:nth-child(7),
#ai_pw_label1,
#ai_pw_input1,
#ai_pw_label2,
#ai_pw_input2,
#ai_pw_desc {
  display: none !important;
}

#AccountLogout,
#LobbyExit,
#Lobby .closebtn {
  display: none !important;
}

#SitePanel {
  font-size: 0 !important;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #303030 !important;
}

#LoginSelected,
#RingSelected,
#TourneySelected,
#SitnGoSelected {
  font-size: 0 !important;
}

.cardshade {
  border-radius: 0 !important;
}

.dialog,
.header {
  border-radius: 0 !important;
}

.header {
  background: #363937 !important;
  background: -moz-linear-gradient(
    top,
    #363937 0%,
    #363937 3%,
    #141414 3%,
    #141414 3%,
    #141414 96%,
    #141414 96%,
    #363937 97%,
    #363937 100%
  ) !important;
  background: -webkit-linear-gradient(
    top,
    #363937 0%,
    #363937 3%,
    #141414 3%,
    #141414 3%,
    #141414 96%,
    #141414 96%,
    #363937 97%,
    #363937 100%
  ) !important;
  background: linear-gradient(
    to bottom,
    #363937 0%,
    #363937 3%,
    #141414 3%,
    #141414 3%,
    #141414 96%,
    #141414 96%,
    #363937 97%,
    #363937 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363937', endColorstr='#363937', GradientType=0) !important;
}

#client_div .grid {
  border-color: #303030 !important;
}

.grid_header {
  background: #404040 !important;
  color: #bbb !important;
}

.grid_data > div {
  border-right-color: #6e6e6e !important;
}

.menu {
  background: #303030 !important;
  color: #fff !important;
}

.tabs {
  background-color: #303030 !important;
}

.tabs > ul {
  background: #157c13 !important;
  width: calc(100% - 6px) !important;
}

.tabs > ul > li {
  border-radius: 0 !important;
  background: none !important;
  color: #fff !important;
  line-height: 30px !important;
  top: 0px !important;
  border: 0 !important;
  box-shadow: none !important;
  cursor: pointer;
}

.tabs > ul[style*="height: 40px"] > li {
  line-height: 40px !important;
}

.tabs > ul > li:after {
  background-color: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  display: none;
}

.tabs > ul > li[style*="font-weight: bold"]:after {
  display: block;
}

button:hover {
  background: #eaad48 !important;
  color: #000 !important;
}

.sp_info {
  color: #fcdf15 !important;
}

.sp_glow {
  border-radius: 26px;
  height: 41px;
}

.sp_seat {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}

.sp_graphic {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  -webkit-transform: translateZ(0) scale(1, 1) !important;
  transform: translateZ(0) !important;
}

.sp_graphic[style*="Name=SeatEmpty"] {
  background-image: url("https://i.ibb.co/B2dzxF6y/empty-seat11.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 1 !important;

  margin: -4px 0 0 40px;
}

#Lobby {
  background: #303030 !important;
}

@media (max-width: 1024px) {
  /*
	#OpenTableBox {
		overflow: hidden;
	}
	*/
  #OpenTableBox .dialog .shader {
    display: none !important;
  }

  #OpenTableBox .dialog {
    background-color: transparent !important;
  }

  #SitePanel {
    background-image: none !important;
  }
}

@media (min-width: 1024px) {
  div#Login.dialog {
    left: 20px !important;
  }

  div.div_one {
    position: bottom center !important;
  }
}

#OpenTableControls {
  position: absolute !important;
  z-index: 3000 !important;
}
